/*
    paleta #e006a5 #9614d6 #6fbeff fundo claro #182246
    fundo escuro #121933
*/
body {
  margin: 0;
  padding: 0;
  background-color:  rgba(17, 25, 51, 1);
  background-image: linear-gradient(179.8deg, rgba(174, 16, 143, 0.4) -25%, #121933 37%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
    font-size: 2.4em;
}

hr {
    background-color: white;
    height: 1.2px;
}

form hr {
    margin: 2em 0;
}

#sidebar {
  height: 100vh;
  background-color: #182246;
}

#botaoNav {
  margin: 10px 20px;
}

.badge {
    border-radius: 1.5em !important;
    font-size: .6em;
}

.link {
    background-color: #182246;
}

.pTB{ /* padding top e bottom */
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.caixa {
    height: 60vh;
    margin:5vh 10%;
    border-radius: .5em;
    max-width: 700px;
    min-width: 430px;
    background-color:  #172144;
    padding: 40px;
}

.inputLogin {
    background: rgba(55, 55, 55, 0);
    /* border-radius: .7em !important; */
    border-width: 2px;
}

.btn-login {
    /* border-radius: .4em !important; */
    margin-top: 0.5em;
}

.inputLogin:focus {
    background: linear-gradient(47deg,rgba(1,1,1, 0) 35%, rgba(80,80,80, 0.3) 100%);
}

.gradient-rosa {
  /* background: linear-gradient(50deg, rgba(150, 20, 214, 1) 0%, rgba(224, 6, 165, 1) 70%); */
  background: linear-gradient(47deg,rgba(150, 20, 214, 1) -1%, rgba(224, 6, 165, 1) 60%, #FFCC70 115%);
}

.gradient-azul/*? n sei q cor é essa  */{
    background: linear-gradient(47deg, rgba(150,20,214,1) 0%, rgba(111,190,255,1) 60%, rgba(111,255,200,1) 115%);
}

.borderless {
    border: 0 !important;
}

.nav-item {
  width: 100%;
}

.nav-link {
  padding: 5px 15% !important;
}

.nav-link:hover {
  color: #e006a5 !important;
}

.nav-link i, svg, img {
  margin: 10px
}

.relative-bottom {
  position: absolute;
  bottom: 0;
}
